{{ template "layout" . }}

{{ define "title" }}About Govdirectory{{ end }}

{{ define "canonical" }}/about/{{ end }}


{{ define "main" }}
<header class="splash">
  <div>
    <img aria-hidden="true" src="/logo-white.svg" width="142" height="171">
    <h1 class="h1-lg">Govdirectory</h1>
    <p>A crowdsourced and fact checked directory of official governmental online accounts and services.</p>
  </div>
</header>

<main>
  <section>
    <div class="container center-text">
      <h2 class="h2-lg">Vision</h2>
      <p>Our vision is a world where people are empowered to engage with their government to ensure responsive, inclusive, participatory and representative decision-making at all levels.</p>
    </div>
  </section>
  <section class="bg-grey">
    <div class="container center-text">
      <h2 class="h2-lg">Mission</h2>
      <p>We will enable a community powered directory where the online presence of every public organization is easily findable, queryable and trustworthy.</p>
    </div>
  </section>
  <section>
    <div class="container center-text">
      <h2 class="h2-lg">How can you help?</h2>
      <h3 class="h3-lg">I'm a developer</h3>
      <p class="content">Take a look at our <a href="https://github.com/govdirectory/website/issues" class="dark-link">issues</a> and <a href="https://github.com/orgs/govdirectory/projects/2" class="dark-link">roadmap</a> to see what we are working on and where we need help.</p>
      <h3 class="h3-lg">I know some data</h3>
      <p class="content">If you have some good official data sources for any country we would love to get a pointer. You can <a href="https://github.com/govdirectory/website/discussions/new" class="dark-link">start a discussion on GitHub</a> or <a href="https://www.wikidata.org/w/index.php?title=Wikidata_talk:WikiProject_Govdirectory&action=edit&section=new" class="dark-link">add a note on Wikidata</a> or just <a href="https://twitter.com/intent/tweet?text=@Govdirectory: Here is a great data source for " class="dark-link">tweet</a> it to us. Whatever suits you best!</p>
      <h3 class="h3-lg">I'm a Wikidata editor</h3>
      <p class="content">Fantastic! <a href="https://www.wikidata.org/wiki/Wikidata:WikiProject_Govdirectory" class="dark-link">Join our WikiProject</a> and help us improve both coverage and the modeling.</p>
      <h3 class="h3-lg">I just like this idea</h3>
      <p class="content">Thank you, we do too. Please share the website with anyone you think might have use of it and <a href="https://twitter.com/intent/follow?screen_name=Govdirectory" class="dark-link">follow us on twitter</a>.</p>
    </div>
  </section>
  <section class="bg-grey">
    <div class="container center-text">
      <h2 class="h2-lg">Supported by Wikimedia Deutschland</h2>
      <p class="content">This project is supported through Wikimedia Deutschland's <a href="https://www.wikimedia.de/unlock/" class="dark-link">Unlock Accelerator</a>.</p>
    </div>
  </section>
</main>
{{ end }}

{{ define "javascript" }}{{""}}{{ end }}
