{{ template "layout" . }}

{{ define "title" }}List of countries{{ end }}

{{ define "canonical" }}/countries/{{ end }}

{{ define "main" }}
<main class="container">
    <h1>Countries</h1>

    <ul class="box-list">
        {{- range . -}}
            <li><a href="/{{ .safeName }}/">{{ .name }}</a></li>
        {{- end -}}
    </ul>
    <p class="center-text">Would you like to see more countries added? <a href="https://www.wikidata.org/wiki/Wikidata:WikiProject_Govdirectory" class="dark-link">Help us get the data in shape here.</a></p>
</main>
{{ end }}

{{ define "javascript" }}{{""}}{{ end }}
