{{ template "layout" . }}

{{ define "title" }}Map of countries{{ end }}

{{ define "canonical" }}/countries/map/{{ end }}

{{ define "main" }}
<main class="container">
    <div>
        <a href="../" class="btn right">View as a list</a>
        <h1>Map of countries</h1>
    </div>
    <noscript>
        <p>This page requires JavaScript.</p>
    </noscript>
    <div id="map" style="height: 80vh; width: 100%;" class="need-js"></div>
</main>
{{ end }}

{{ define "javascript" }}
<link rel="stylesheet" href="/thirdparty/leaflet/leaflet-1.8.0.css"/>
<script src="/thirdparty/leaflet/leaflet-1.8.0.js"></script>
<script>
const map = L.map('map', {attributionControl: false}).setView([0, 0], 2);
L.control.attribution({prefix: ''}).addTo(map);
L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
  attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

fetch('/map.json')
  .then(response => response.json())
  .then(data => {
    data.forEach(country => {
      const dataUrl = 'https://commons.wikimedia.org/w/api.php?format=json&action=query&titles=' + country[1].replace('http://commons.wikimedia.org/data/main/', '') + '&prop=revisions&rvprop=content&origin=*&maxage=3600'
      fetch( dataUrl)
        .then(response => response.json())
        .then(data => {
          const containerData = data.query.pages[Object.keys(data.query.pages)[0]].revisions[0]['*'];
          const pageData = JSON.parse(containerData);
          const geojson = pageData.data;
          const geojsonLayer = L.geoJson(geojson, {
            style: function (feature) {
              return {color: '#E66A49'};
            },
            onEachFeature: function (feature, layer) {
              layer.bindPopup('<b><a href="/' + country[0] + '/">' + country[2] + '</a></b><p>' + country[3] + '</p>');
            }
          }).addTo(map);
        })
        .catch(error => {
          const mapElement = document.getElementById('map');
          mapElement.innerHTML = '<p>Error loading map data.</p>';
        });
    });
  });
</script>
{{ end }}
