
{{ template "layout" . }}

{{ define "title" }}{{ .name }}{{ end }}

{{ define "canonical" }}/{{ .safeName }}/{{ end }}

{{ define "main" }}
<div class="container">
    <header class="item">
        <h1>{{ .name }}</h1>
        <p>{{ .nativeLabel }}</p>
        <p>{{ .description }}</p>

        <div class="header-lower">
            <div class="infobox">
                <ul>
                    <li>Type of government: {{ if .typeOfGovList -}}
                        {{- range $i, $type := (split .typeOfGovList.String ",") -}}
                            {{- if $i -}}, {{ end -}}{{- $type -}}
                        {{- end -}}
                    {{- else -}} <span class="text-grey">[missing data]</span>
                    {{- end -}}</li>
                    <li>Head of state: {{ if .headOfStateLabel -}}
                        {{ .headOfStateLabel }}
                    {{- else -}} <span class="text-grey">[missing data]</span>
                    {{- end -}}</li>
                    <li>Head of government: {{ if .headOfGovLabel -}}
                        {{ .headOfGovLabel }}
                    {{- else -}} <span class="text-grey">[missing data]</span>
                    {{- end -}}</li>
                    <li>Official website: {{ if .website -}}
                        <a href="{{ .website }}">{{ replace (replace .website.String "http://" "" 1) "https://" "" 1 }}</a>
                    {{- else -}} <span class="text-grey">[missing data]</span>
                    {{- end -}}</li>
                </ul>
            </div>

            <div class="center-text action-boxes">
                <div>
                    <h2>Found an error?</h2>
                    <a class="btn" href="{{ .uri }}">Edit on Wikidata</a>
                </div>
            </div>
        </div>
    </header>
</div>

<main>
    <section class="bg-grey sticky-grey">
        <div class="container move-away">
            <div>
                <h2 class="m0">Agencies</h2>
                <input id="filter-input" type="text" placeholder="Search" aria-label="Search/filter table" class="need-js"/>
            </div>
            <a id="download" download="{{ .name }}.tsv" href="#" class="btn need-js">Download</a>
        </div>
    </section>

    {{- include "org-table.html" (query (join "" "generators/" .safeName.String ".rq")) -}}
</main>
{{ end }}

{{ define "javascript" }}
<script>
const dataTable = document.querySelector('table');

let tsv = '"Name"\t"Govdirectory URL"\t"Type"\t"Accounts"\n';
Array.from(dataTable.children[0].children).forEach((row, index) => {
    if (index === 0) return; // header
    const name = row.children[0].innerText;
    const qid = row.children[0].firstChild.href;
    const type = row.children[2].innerText;
    var accounts;
    if (row.children[1].firstChild) {
        accounts = Array.from(row.children[1].firstChild.children).map(item => {
            return item.firstChild.href;
        }).join('|');
    } else {
        accounts = '';
    }

    const tsvRow = '"' + name + '"\t"' + qid + '"\t"' + type + '"\t"' + accounts + '"\n';
    tsv += tsvRow;
});

const downloadElm = document.querySelector('#download');
downloadElm.href = window.URL.createObjectURL(new Blob([tsv], { type: 'text/tsv' }));

var filterInput = document.querySelector('#filter-input');
var tbody = document.querySelector('tbody');
filterInput.addEventListener('input', function(e) {
    Array.from(tbody.rows).forEach(function(row) {
        var textContent = row.textContent.toLowerCase();
        var filter = e.target.value.toLowerCase();
        row.style.display = textContent.includes(filter) ? '' : 'none';
    });
});
</script>
<script src="/thirdparty/sort-table/sort-table.js"></script>
{{ end }}
