{{ template "layout" . }}

{{ define "title" }}List of countries{{ end }}

{{ define "canonical" }}/countries/{{ end }}

{{ define "main" }}

<noscript>
    <style type="text/css">
        .view-map-button {
            display:none;
        }
    </style>
</noscript>

<main class="container">
    <div>
        <a href="map/" class="btn right view-map-button">View on a map</a>
        <h1>Countries</h1>
    </div>
    <ul class="box-list">
        {{- range . -}}
            <li><a href="/{{ .safeName }}/">{{ .name }}</a></li>
        {{- end -}}
    </ul>
    <p class="call-out">Would you like to see more countries added? <a href="https://www.wikidata.org/wiki/Wikidata:WikiProject_Govdirectory">Help us get the data in shape here.</a></p>
</main>
{{ end }}

{{ define "javascript" }}{{""}}{{ end }}
