
{{ template "layout" . }}

{{ define "title" }}{{ .name }}{{ end }}

{{ define "canonical" }}/{{ .safeName }}/{{ end }}

{{ define "pre-main" }}{{ "" }}{{ end }}

{{ define "main-constraint-classes" }}container{{ end }}

{{ define "main" }}
<h1>{{ .name }}</h1>
<p>{{ .description }}</p>

<a id="download" download="{{ .name }}.csv" href="#" class="btn need-js">Download</a>
{{ template "org-table.html" query (join "" "generators/" .safeName.String) .safeName.String }}
{{ end }}

{{ define "javascript" }}
<script>
const dataTable = document.querySelector('table');

let csv = '"Name","Type",\n';
Array.from(dataTable.children[0].children).forEach((row, index) => {
    if (index === 0) return; // header
    const columns = Array.from(row.children);
    let rowCSV = '';
    columns.forEach((column, innerIndex) => {
        let value;
        if (column.children[0] && column.children[0].nodeName === 'A') {
            value = column.children[0].href;
        } else {
            value = column.innerText;
        }

        rowCSV += '"' + value + '",';
    });
    csv += rowCSV + '\n';
});

const downloadElm = document.querySelector('#download');
downloadElm.href = window.URL.createObjectURL(new Blob([csv], { type: 'text/csv' }));
</script>
{{ end }}
