{{ template "layout" . }}

{{ define "title" }}Govdirectory{{ end }}

{{ define "canonical" }}/{{ end }}


{{ define "main" }}
<header class="splash">
  <div class="container">
    <h1 class="h1-lg text-orange">Get your voice heard!</h1>
    <p>The easiest way to contact your government<span class="text-orange">.</span></p>
  </div>
</header>

<main>
  <section class="bg-orange">
    <div class="container">
      <div class="half">
        <div class="body-lg-text">
          Start the conversation now!
        </div>
        <div>
          <div class="btn-list center-text">
            <a href="/countries/" class="btn">Explore by country</a>
            <a href="/topics/" class="btn">Explore by topic</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-grey">
    <div class="container h3-lg">
      Govdirectory is a crowdsourced and fact checked directory of official governmental online accounts and services.
    </div>
  </section>
  <section>
    <div class="container">
      <div class="half">
        <div class="center-text">
          <img class="greyscale" aria-hidden="true" src="factory.jpg" height="300"/>
        </div>
        <div class="padding">
          <h2>"Who are the largest CO2 emitters in Sweden?"</h2>
          <a class="btn" href="/countries/">Ask your own government!</a>
        </div>
      </div>
    </div>
  </section>
    <section class="bg-grey">
    <div class="container">
      <div class="half">
        <div class="padding">
          <h2>"To which countries did Norway export war material to in 2020?"</h2>
          <a class="btn" href="/countries/">Ask your own government!</a>
        </div>
        <div class="center-text">
          <img class="greyscale" aria-hidden="true" src="helicopter.jpg" height="300"/>
        </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container center-text">
      <h2>Explore by country</h2>
      <div class="btn-list">
        {{- $countries := query "countries.rq" -}}
        {{- range $countries -}}
          <a href="{{ .safeName }}/" class="btn rounded">{{ .name }}</a>
        {{- end -}}
      </div>
    </div>
  </section>
  <section class="bg-grey">
    <div class="container center-text">
      <h2>Explore by topic</h2>
      {{- $topics := query "topics.rq" -}}
      <ul class="topic-list">
        {{- range $topics -}}
          <li>
            <a href="/{{ .safeName }}">
              <div>
                <img aria-hidden="true" src="/topic-icons/{{ .safeName }}.svg"/>
              </div>
              <span>{{ .name }}</span>
            </a>
          </li>
        {{- end -}}
      </ul>
    </div>
  </section>
</main>
{{ end }}

{{ define "javascript" }}{{""}}{{ end }}
