
{{ template "layout" . }}

{{ define "title" }}{{ .orgLabel }}{{ end }}

{{ define "canonical" }}/{{ template "get-country-url.html" .country }}/{{ .qid }}/{{ end }}

{{ define "pre-main" }}{{ "" }}{{ end }}

{{ define "main" }}
{{- $details := index (query "organization-optional" .qid.String) 0 -}}

{{/* Looks up the country safename / name */}}
{{- $currentCountry := .country -}}
{{- $currentCountrySafeName := false -}}
{{- $currentCountryName := false -}}
{{- $countries := query "countries" -}}
{{- range $countries -}}
  {{- if eq .uri $currentCountry -}}
    {{- $currentCountrySafeName = .safeName -}}
    {{- $currentCountryName = .name -}}
  {{- end -}}
{{- end -}}

{{/* Checks if the parent org is returned by the country generator */}}
{{- $parentOrgLabel := false -}}
{{- $parentOrgQID := false -}}
{{- if $details.parent -}}
  {{- $parentOrgQID = (replace $details.parent.String "http://www.wikidata.org/entity/" "" 1) -}}
  {{- $currentOrg := .qid -}}
  {{- $allOrgs := query (join "" "generators/" $currentCountrySafeName.String) -}}
  {{- range $allOrgs }}
    {{- if eq $parentOrgQID .qid.String -}}
        {{- $parentOrgLabel = .orgLabel -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

<div class="container">
    <header class="item">
        <div class="btn-list">
            <a class="btn rounded" href="/{{ $currentCountrySafeName }}/">{{ $currentCountryName }}</a>
        </div>
        <h1>{{ .orgLabel }}</h1>
        <p>{{ .orgDescription }}</p>

        <div class="header-lower">
            <div class="infobox">
                <ul>
                    {{- if $parentOrgLabel -}}
                    <li>Parent organization: <a href="/{{ $currentCountrySafeName }}/{{ $parentOrgQID }}">{{ $parentOrgLabel }}</a></li>
                    {{- end -}}
                    <li>Official website: {{ if $details.website -}}
                    <a href="{{ $details.website }}">{{ replace (replace $details.website.String "http://" "" 1) "https://" "" 1 }}</a>
                    {{- else -}} <span class="text-grey">[missing data]</span>
                    {{- end -}}</li>
                    <li>Lead by: {{ if $details.leadBy -}}
                        {{ $details.leadBy }}
                    {{- else -}} <span class="text-grey">[missing data]</span>
                    {{- end -}}</li>
                    <li>Main regulatory text: {{ if $details.regulatoryText -}}
                        <a href="{{ $details.regulatoryText }}">{{ $details.regulatoryTextTitle }}</a>
                    {{- else -}} <span class="text-grey">[missing data]</span>
                    {{- end -}}
                    </li>
                </ul>
            </div>

            <div class="center-text action-boxes">
                <div>
                    <h2>Found an error?</h2>
                    <a class="btn" href="https://www.wikidata.org/wiki/{{ .qid }}">Edit on Wikidata</a>
                </div>
                {{- if $details.email -}}
                <div>
                    <h2>Email</h2>
                    <a class="btn" href="{{ $details.email }}">Send an email</a>
                </div>
                {{- end -}}
                {{- if $details.citizensInitiatives -}}
                <div>
                    <h2>Citizen's initiatives</h2>
                    <a class="btn" href="{{ $details.citizensInitiatives }}">Learn more</a>
                </div>
                {{- end -}}
            </div>
        </div>

    </header>
</div>

<main>
    {{ $socialAccounts := query "account-data" .qid.String }}

    <section class="bg-grey">
        <div class="container move-away">
            <h2 class="m0">Platforms and accounts</h2>
            {{- if $socialAccounts -}}
            <a id="download" download="{{ .orgLabel }} - {{ .qid }}.csv" href="#" class="btn need-js">Download</a>
            {{- end -}}
        </div>
    </section>

    {{ if $socialAccounts }}
        {{ template "social-table.html" $socialAccounts }}
    {{ else }}
    <div class="container">
        <p class="call-out">No social media accounts found! Know some? Add them to <a href="https://wikidata.org/wiki/{{ .qid }}">Wikidata</a>.</p>
    </div>
    {{ end }}
</main>
{{ end }}

{{ define "javascript" }}
{{/* This ensures that links returned by SPARQL is not escaped as if this was HTML */}}
{{ safe_html "<script" }} type="application/ld+json">
{{- $socialAccounts := query "account-data" .qid.String -}}
{{- $global := config.Metadata }}
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "description": "{{ .orgDescription }}",
  {{- if .email -}}"email": "{{ replace .email "mailto:" "" 1 }}",{{- end }}
  "additionalType": "{{ .type }}",
  "url": "{{ $global.root_url }}{{ template "get-country-url.html" .country }}/{{ .qid }}",
  "sameAs": [{{ if $socialAccounts }}{{ range $socialAccounts }}"{{ html .url}}",{{ end }}{{ end }}"http://wikidata.org/entity/{{ .qid }}"],
  "name": "{{ .orgLabel }}"
}
</script>

<script>
const dataTable = document.querySelector('table');

if (dataTable) {
    let csv = '"Platform","Account link",\n';
    Array.from(dataTable.children[0].children).forEach((row, index) => {
        if (index === 0) return; // header
        const columns = Array.from(row.children);
        let rowCSV = '';
        columns.forEach((column, innerIndex) => {
            let value;
            if (column.children[0] && column.children[0].nodeName === 'A') {
                value = column.children[0].href;
            } else {
                value = column.innerText;
            }

            rowCSV += '"' + value + '",';
        });
        csv += rowCSV + '\n';
    });

    const downloadElm = document.querySelector('#download');
    downloadElm.href = window.URL.createObjectURL(new Blob([csv], { type: 'text/csv' }));
}
</script>
{{ end }}
