
{{ template "layout" . }}

{{ define "title" }}{{ .orgLabel }}{{ end }}

{{ define "canonical" }}/{{ template "get-country-url.html" .country }}/{{ .qid }}/{{ end }}

{{ define "pre-main" }}{{ "" }}{{ end }}

{{ define "main-constraint-classes" }}container{{ end }}

{{ define "main" }}
<div class="grid org-grid">
    <header>
        <a class="btn" href="/{{ template "get-country-url.html" .country }}/">{{ template "get-country-name.html" .country }}</a>
        <h1>{{ .orgLabel }}</h1>
        <p>{{ .orgDescription }}</p>
    </header>
    <aside class="center-text">
        <div>
            <h2>Found an error?</h2>
            <a class="btn" href="https://www.wikidata.org/wiki/{{ .qid }}">Edit on Wikidata</a>
        </div>
        {{- if .officialEmail -}}
        <div>
            <h2>Email</h2>
            <a class="btn" href="{{ .officialEmail }}">Send an email</a>
        </div>
        {{- end -}}
        {{- if .citizensInitiativesURL -}}
        <div>
            <h2>Citizen's initiatives</h2>
            <a class="btn" href="{{ .citizensInitiativesURL }}">Learn more</a>
        </div>
        {{- end -}}
    </aside>
</div>

    {{ $socialAccounts := query "account-data" .qid.String }}

    {{ if $socialAccounts }}
    <a id="download" download="{{ .orgLabel }} - {{ .qid }}.csv" href="#" class="btn need-js">Download</a>
        {{ template "social-table.html" $socialAccounts }}
    {{ else }}
        <p>No social media accounts found! Know some? Add them to <a href="https://wikidata.org/wiki/{{ .qid }}">Wikidata</a>.</p>
    {{ end }}
{{ end }}

{{ define "javascript" }}
{{/* This ensures that links returned by SPARQL is not escaped as if this was HTML */}}
{{ safe_html "<script" }} type="application/ld+json">
{{- $socialAccounts := query "account-data" .qid.String -}}
{{- $global := metadata }}
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "description": "{{ .orgDescription }}",
  {{- if .email -}}"email": "{{ replace .email "mailto:" "" 1 }}",{{- end }}
  additionalType": "{{ .type }}",
  "url": "{{ $global.root_url }}{{ template "get-country-url.html" .country }}/{{ .qid }}",
  "sameAs": [{{ if $socialAccounts }}{{ range $socialAccounts }}"{{ html .url}}",{{ end }}{{ end }}"http://wikidata.org/entity/{{ .qid }}"],
  "name": "{{ .orgLabel }}"
}
</script>

<script>
const dataTable = document.querySelector('table');

let csv = '"Platform","Account link",\n';
Array.from(dataTable.children[0].children).forEach((row, index) => {
    if (index === 0) return; // header
    const columns = Array.from(row.children);
    let rowCSV = '';
    columns.forEach((column, innerIndex) => {
        let value;
        if (column.children[0] && column.children[0].nodeName === 'A') {
            value = column.children[0].href;
        } else {
            value = column.innerText;
        }

        rowCSV += '"' + value + '",';
    });
    csv += rowCSV + '\n';
});

const downloadElm = document.querySelector('#download');
downloadElm.href = window.URL.createObjectURL(new Blob([csv], { type: 'text/csv' }));
</script>
{{ end }}
