{{ template "layout" . }}

{{ define "title" }}Statistics - Govdirectory{{ end }}

{{ define "canonical" }}/stats/{{ end }}

{{ define "main" }}

<main class="container">
    <h1>Statistics</h1>
    <p>Last updated {{ now.Format "2006-01-02" }}. Live website usage statitics are publicly accessible through <a class="dark-link" href="https://matomo.wikimedia.se/index.php?module=CoreHome&action=index&idSite=7&period=day&date=yesterday#?idSite=7&period=day&date=yesterday&segment=&category=Dashboard_Dashboard&subcategory=1">Matomo</a>.</p>

    <img aria-hidden="true" src="statistics.svg" alt="" width="970px">

    <h2>Coverage overview</h2>

    <table>
        {{- range . -}}
        <tr>
            <th>{{ .name }}</th>
            <td>{{ .description }}</td>
        </tr>
        {{- end -}}
    </table>

</main>
{{ end }}

{{ define "javascript" }}{{""}}{{ end }}
