
{{ template "layout" . }}

{{ define "title" }}{{ .name }}{{ end }}

{{ define "canonical" }}/{{ .safeName }}/{{ end }}

{{ define "main" }}
<div class="topic-background {{ .safeName }}">
    <header class="topic">
        <h1>{{ .name }}</h1>
    </header>
</div>

<main>
    <section class="bg-grey">
        <div class="container move-away">
            <div>
                <h2 class="m0">Agencies</h2>
                <input id="filter-input" type="text" placeholder="Search" aria-label="Search/filter table" class="need-js"/>
            </div>
            <a id="download" download="{{ .name }}.tsv" href="#" class="btn need-js">Download</a>
        </div>
    </section>

{{- $countries := query "countries.rq" -}}
{{- $topic := .class -}}

    <table class="container js-sort-table">
        <tr>
          <th>Name</th>
          <th  class="js-sort-none">Platforms</th>
          <th>Type</th>
          <th>Country</th>
        </tr>

        {{- range $countries -}}
            {{- $country := .safeName.String -}}
            {{- $countryLabel := .name.String -}}
            {{- $orgs := query (join "" "generators/" $country ".rq") -}}
            {{- range $orgs -}}
                {{- if eq $topic .cofog -}}
                    <tr>
                        <td><a href="/{{ $country }}/{{ .qid }}">{{ .orgLabel }}</a></td>
                        <td>{{ include "components/social-icons.html" (query "account-data.rq" .qid.String) }}</td>
                        <td>{{ .typeLabel }}</td>
                        <td><a class="btn rounded" href="/{{ $country }}/">{{ $countryLabel }}</a></td>
                    </tr>
                {{- end -}}
            {{- end -}}
        {{- end -}}
    </table>
</main>
{{ end }}

{{ define "javascript" }}
<script>
const dataTable = document.querySelector('table');

let tsv = '"Name","Govdirectory URL","Type","Accounts"\n';
Array.from(dataTable.children[0].children).forEach((row, index) => {
    if (index === 0) return; // header
    const name = row.children[0].innerText;
    const qid = row.children[0].firstChild.href;
    const type = row.children[2].innerText;
    var accounts;
    if (row.children[1].firstChild) {
        accounts = Array.from(row.children[1].firstChild.children).map(item => {
            return item.firstChild.href;
        }).join('|');
    } else {
        accounts = '';
    }

    const tsvRow = '"' + name + '"\t"' + qid + '"\t"' + type + '"\t"' + accounts + '"\n';
    tsv += tsvRow;
});

const downloadElm = document.querySelector('#download');
downloadElm.href = window.URL.createObjectURL(new Blob([tsv], { type: 'text/tsv' }));

var filterInput = document.querySelector('#filter-input');
var tbody = document.querySelector('tbody');
filterInput.addEventListener('input', function(e) {
    Array.from(tbody.rows).forEach(function(row) {
        var textContent = row.textContent.toLowerCase();
        var filter = e.target.value.toLowerCase();
        row.style.display = textContent.includes(filter) ? '' : 'none';
    });
});
</script>
<script src="/thirdparty/sort-table/sort-table.js"></script>
{{ end }}
