{{ template "layout" . }}

{{ define "title" }}List of topics{{ end }}

{{ define "canonical" }}/topics/{{ end }}

{{ define "main" }}
<main class="container">
    <h1>Topics</h1>

    <ul class="topic-list">
        {{- range . -}}
            <li>
                <a href="/{{ .safeName }}">
                    <div>
                        <img loading="lazy" aria-hidden="true" src="/topic-icons/{{ .safeName }}.svg"/>
                    </div>
                    <span lang="{{ .name.Lang }}">{{ .name }}</span>
                </a>
            </li>
        {{- end -}}
    </ul>
</main>
{{ end }}

{{ define "javascript" }}{{""}}{{ end }}
